<header class="header">
  <div class="container">
  <div class="btn-menu">
    <label for="btn-menu">☰</label>
  </div>
    <div class="logo">
      <h1>Logotipo</h1>
    </div>
    <nav class="menu">
      <a href="#">Inicio</a>
      <a href="#">Nosotros</a>
      <a href="#">Contacto</a>
    </nav>
  </div>
</header>
<div class="capa"></div>
<!--	--------------->
<input type="checkbox" id="btn-menu" >
<div class="container-menu">
<div class="cont-menu">
  <nav>
    <ng-container *ngFor="let categoria of categorias">
      <a [routerLink]="['categoria', categoria.id]"  (click)="cerrarMenu()">{{ categoria.nombre }}</a> <!-- Aquí se muestran los nombres de las categorías -->
    </ng-container>
  </nav>
  <label for="btn-menu">✖️</label>
</div>
</div>

<!-- Resto del contenido -->
<main class="main-content">
  <router-outlet></router-outlet>
</main>
